@tailwind base;

html {
    @apply font-sans antialiased text-black;
}

.hl-text:before {
    content: '';
    height: 0.0625rem;
    background-color: rgb(175, 175, 175);
    position: absolute;
    display: block;
    left: 0px;
    top: calc(50%-1px);
}

.hl-text:after {
    content: '';
    height: 0.0625rem;
    background-color: rgb(175, 175, 175);
    position: absolute;
    display: block;
    right: 0px;
    top: calc(50%-1px);
}

.loading-fill:after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    right: 3px;
    top: 2px;
    border-radius: 6px;
    background-color: white;
}

/* @keyframes open-menu {
    0% {
        width: 0%;
    }
    100% {
        width: 41.7%;
    }
}
@keyframes close-menu {
    0% {
        width: 41.7%;
    }
    100% {
        width: 0%;
    }
} */

/* Mobile nav menu flyout open/close effects */
.flyout-menu {
    box-shadow: rgba(0, 0, 0, 0.2) 8px 0px 48px;
}
.flyout-menu-open {
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    left: 0px;
}

.flyout-menu-closed {
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    left: -500px;
}

/* Animation for the back button on loading bars */
#loading-back > p {
    transition: 0.1s;
    transition-timing-function: ease-in-out;
    margin-left: 0px;
}
#loading-back:hover > p {
    transition: 0.1s;
    transition-timing-function: ease-in-out;
    margin-left: 4px;
}


/* Hide the up and down arrow in the phone number input boxes */
#phone-code-input::-webkit-outer-spin-button,
#phone-code-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#phone-code-input[type=number] {
  -moz-appearance: textfield;
}

#modal-background {
    transition: 0.2s;
}
#modal-panel {
    transition: 0.3s;
}

@tailwind components;
@tailwind utilities;
