@tailwind base;

html {
    @apply font-sans antialiased text-black;
}

.hl-text:before {
    content: '';
    height: 0.0625rem;
    background-color: rgb(175, 175, 175);
    position: absolute;
    display: block;
    left: 0px;
    top: calc(50%-1px);
}

.hl-text:after {
    content: '';
    height: 0.0625rem;
    background-color: rgb(175, 175, 175);
    position: absolute;
    display: block;
    right: 0px;
    top: calc(50%-1px);
}

.loading-fill:after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    right: 3px;
    top: 2px;
    border-radius: 6px;
    background-color: white;
}

@tailwind components;
@tailwind utilities;
